@import'vars';
@import'global';
@import'fonts';

.header {
}
.header__top {
}
.container {
}
.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}
.header__text {
    margin-left: auto;
    margin-right: 25px;
}
.header_phone {
}
.header__box {
}
.header__basket {
}
.header__btn {
}
.header__menu {
}
.menu {
}
.menu__list {
}
