@import'vars';
@import'global';
@import'fonts';



.header__top{
    background-color: $bgheaderTop;
}

.header__inner-top{
    display: flex;
    justify-content: space-between;
    padding: 23px 0 23px;
}